---
import Button from "./Button.astro";
const { content, section } = Astro.props;
const basePath = import.meta.env.VITE_BASE_URL || "";
---

<section class="relative py-8 sm:py-12 md:py-16">
  <div class="mx-auto max-w-4xl text-center px-6">
    {
      section.bgImg ? (
        <>
          <img
            src={`${basePath}/${section.bgImg}`}
            alt={section.bgImgAlt}
            class={`${section.sectionType === "video" ? "sm:hidden" : ""} absolute inset-0 -z-10 h-full w-full object-cover`}
          />
        </>
      ) : null
    }
    {
      section.bgColor ? (
        <>
          <span
            class="absolute -z-10 w-full inset-0 top-0 left-0"
            style={`background-color:${section.bgColor}; opacity: ${section.bgOpacity}`}
          />{" "}
        </>
      ) : null
    }
    <h2
      class="text-3xl font-bold tracking-tight sm:text-4xl"
      style={`color:${section.titleColor}`}
    >
      {
        section.title.includes("<br/>")
          ? section.title.split("<br/>").map((line: string, index: number) => (
              <Fragment key={index}>
                <span class="block">{line}</span>
              </Fragment>
            ))
          : section.title
      }
    </h2>
    {
      section?.description?.some(
        (item: { text: string | any[] }) => item?.text?.length > 0
      ) ? (
        section.description.map((item: { text: unknown }, index: any) => (
          <Fragment key={index}>
            <p
              class="mt-4 text-lg leading-8"
              style={`color:${section.descriptionColor}`}
            >
              {item.text}
            </p>
          </Fragment>
        ))
      ) : (
        <p
          class="mt-4 text-lg leading-8"
          style={`color:${section.descriptionColor}`}
        >
          {section.description}
        </p>
      )
    }
  </div>
</section>
